<header class="mb-5">
    <nav class="navbar">
      <div class="logo">
        <a href="/home" class="navbar-brand"><img src="assets/img/logo.png" class="img-fluid" alt="" width="200px"></a>
      </div>
      <ul class="nav-links inter">
        <li class="nav-item"><a href="/home" routerLinkActive="active">Home</a></li>
        <li class="nav-item"><a href="/home/#about">About</a></li>
        <li class="nav-item"><a href="/home/#team">Team</a></li>
        <li class="nav-item"><a href="/home/#blog">Blog</a></li>
        <li class="nav-item" id="last"><a href="/home/#contact">Contact</a></li>
      </ul>
      <div class="hamburger" id="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </nav>
    
  </header>