<header id="header" class="header d-flex align-items-center bgColor sticky-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
  
      <a routerLink="/" class="d-flex align-items-center" style="padding-left: 40px;">
        <img src="assets/img/logo.png" alt="" style="width: 40%;">
      </a>
  
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{'/home'}}" routerLinkActive="active">Home</a></li>
          <li><a href="{{'/home/#about'}}">About</a></li>
          <li><a href="{{'/home/#team'}}">Team</a></li>
          <li><a href="{{'/home/#blog'}}">Blog</a></li>
          <li><a href="{{'/home/#contact'}}">Contact</a></li>
          <button type="submit" class="btn" style="margin-left: 25px;">Get Started</button>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
  
      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
  
    </div>
  </header>