<footer id="footer" class="footer inter" style="background-color: #EDF6F9;">
    <div class="container">
      <div class="copyright text-center">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Social XP Inc.</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <a href="https://x.com/aishwarya_amuda" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="mailto:aishwarya@socialxp.co" target="_blank"><i class="fa fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/aishwaryaamuda/" target="_blank"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </footer>