<div class="section-title p-0 m-0" data-aos="fade-up">
  <h2 class="ibrand">About Us</h2>
</div>
<div class="timeline"> 
  <div class="col-xs-12 timeline__event  animated fadeInUp delay-3s timeline__event--type1">
    <div class="timeline__event__icon ">
      <i class="fa fa-user"></i>
    </div>
    <div class="timeline__event__date">
      Consent
    </div>
    <div class="timeline__event__content ">
      <div class="timeline__event__description">
        <p style="color: #2D3142;">At Consent Ed, we immerse you in interactive games that simulate real-life experiences. These games help you navigate tricky situations, all while learning about healthy, consensual interactions.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 timeline__event animated fadeInUp delay-2s timeline__event--type2">
    <div class="timeline__event__icon">
      <i class="fa fa-bar-chart"></i>

    </div>
    <div class="timeline__event__date">
      Progress
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__description">
        <p style="color: #2D3142;">As you progress, you’ll collect badges that represent your learning. These badges show others that you are educated on consent and committed to respectful, safe interactions.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 timeline__event animated fadeInUp delay-1s timeline__event--type3">
    <div class="timeline__event__icon">
      <i class="fa fa-cogs"></i>

    </div>
    <div class="timeline__event__date">
      Games
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__description">
        <p style="color: #2D3142;">We believe that games don’t just entertain—they can help reinforce good behaviors and create positive social change.</p>
      </div>
    </div>
  </div>

</div>