
@import url("../home/home.component.css");
@import url("../team/team.component.css");

.manage1{
    margin: 20px;
    font-size: 20px;
    color: #2D3142; 
    opacity: 0.8;
}

.manage2{
    margin: 50px 10px 25px 30px; 
    font-size: 20px;
    color: #2D3142; 
    opacity: 0.8;
}

.manage3{
    font-size: 20px; 
    color: #2D3142; 
    padding: 30px 150px 30px 150px; 
    opacity: 0.8;
}

.imgAlign{
    height: 300px; 
    width: auto;
    padding: 30px;
    padding-left: 15px;
}

@media (min-width: 320px) and (max-width: 480px) { 
    .imgAlign {
        height: 200px;
        width: 400px;
    }

    .manage1{
        margin: 10px;
        font-size: 15px;
    }

    .manage2{
        margin: 10px;
        margin-top: 0px;
        font-size: 15px;
    }

    .manage3{
        margin: 0px;
        padding: 20px; 
        font-size: 15px;
    }

    .img{
        height: 300px;
        padding-top: 50px;
    }
}