<div class="section-title" data-aos="fade-up">
  <h2 class="ibrand pt-5">About Us</h2>
  <h6 class="inter" style="opacity: 0.6;"> Master Social Skills in a Fun, Low-Stakes World. 🌍🕹️ </h6>
</div>

<!-- Section 1-->
<div class="row">
  <div style="background-color: white;">
    <p class="inter hero-2 manage3 block">
      <b>At <strong style="color: #00B179;"> Social XP </strong>, we make learning essential interpersonal skills engaging and measurable. Through interactive games, users develop key skills like <strong style="color: #00B179;"> communication, empathy, </strong> and <strong style="color: #00B179;"> conflict resolution </strong>—all critical for success in both personal and professional environments.</b>
    </p>
  </div>

  <div class="d-flex justify-content-center" style="background-color: white;">       
    <img src="assets/img/about/AboutPic.png" class="imgAlign blockRight">
  </div>

  <div style="background-color: white;">
    <p class="inter hero-2 manage3 block">
      <b>As users progress, they earn digital badges that reflect their growth. These badges can be shared on platforms like LinkedIn or Instagram, allowing users to showcase their skill mastery in a clear, verified way.</b>
    </p>
  </div>
  
  <!-- <div class="col-lg-6 col-xs-12 d-flex justify-content-center" style="background-color: white;">       
    <img src="assets/img/about/aboutPage2.png" class="img blockRight">
  </div> -->


  <div style="background-color: white;">
    <p class="inter hero-2 manage3 blockRight">
      <b>We believe in making social learning fun and practical, helping individuals build confidence while providing tangible proof of their skills.</b>
    </p>
  </div>
</div>