<div class="section-title mt-5" data-aos="fade-up">
  <h2 class="ibrand pt-5">About Us</h2>
</div>


<!-- Section 1-->
<div class="row">
  <div class="col-lg-6 col-xs-12" style="background-color: white;">       
    <img src="assets/img/about/aboutPage1.png" class="img-fluid">
  </div>

  <div class="col-lg-6 col-xs-12 pt-5" style="background-color: white;">
    <p class="inter hero-2 m-4" style="font-size: 20px; color: #2D3142; opacity: 0.8;">
      <b>At Consent Ed, we immerse you in interactive games that simulate real-life experiences. These games help you navigate tricky situations, all while learning about healthy, consensual interactions.</b>
    </p>
  </div>

  <div class="col-lg-6 col-xs-12 pt-5 pl-5" style="background-color: white;">
    <p class="inter hero-2 m-5 mr-0" style="font-size: 20px; color: #2D3142; opacity: 0.8;">
      <b>As you progress, you’ll collect a verification badge that represents your learning. These badges show others that you are educated on consent and committed to respectful, safe interactions.</b>
    </p>
  </div>
  
  <div class="col-lg-6 col-xs-12 d-flex justify-content-center" style="background-color: white;">       
    <img src="assets/img/about/aboutPage2.png" style="height: 300px; width: auto;">
  </div>


  <div class="p-5" style="background-color: white;">
    <p class="inter hero-2 m-5" style="font-size: 20px; color: #2D3142; padding: 0px 150px 0px 150px; opacity: 0.8;">
      <b>We believe that games don’t just entertain—they can help reinforce good behaviors and create positive social change.</b>
    </p>
  </div>
</div>