/* Light Mode (Default) */
body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Button styling */
header {
  padding: 1rem;
  text-align: center;
}

button {
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode button {
  background-color: #ffffff;
  color: #000000;
}

button:hover {
  opacity: 0.8;
}
