/* Fonts */

body::-webkit-scrollbar { display: none;}

body{
  background-color: #EDF6F9 !important;
}

@font-face {
  font-family: 'Inter';
  src: url("assets/font/extras/otf/Inter-Regular.otf") format('opentype');
}

.inter {
  font-family: Inter;
  font-optical-sizing: auto;
  font-style: normal;
}

@font-face {
  font-family: 'ibrand';
  src: url("assets/font/ibrand.otf") format('opentype');
}

.ibrand{
  font-family: ibrand;
  font-optical-sizing: auto;
  font-style: normal;
}
  
  /* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
  :root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #2D3142; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #222222; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #00B179; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  }
  
  /* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
  :root {
    --nav-color: #2D3142;  /* The default color of the main navmenu links */
    --nav-hover-color: #00B179; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #2D3142; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #00B179; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
  }
  
  /* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */
  
  .light-background {
    --background-color: #EDF6F9;
    --surface-color: #ffffff;
  }
  
  .dark-background {
    --background-color: #060606;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #252525;
    --contrast-color: #ffffff;
  }
  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
  body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
  }
  
  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
  }
  
  /* PHP Email Form Messages
  ------------------------------*/
  .php-email-form .error-message {
    display: none;
    background: #df1529;
    color: #ffffff;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .php-email-form .sent-message {
    display: none;
    color: #ffffff;
    background: #059652;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .php-email-form .loading {
    display: none;
    background: var(--surface-color);
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
  }
  
  .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid var(--accent-color);
    border-top-color: var(--surface-color);
    animation: php-email-form-loading 1s linear infinite;
  }
  
  @keyframes php-email-form-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
 
  /*-----------------------------------------------------
  # Home Section
  -----------------------------------------------------*/
  /* Define the animation */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-in-div {
  position: relative;
  /* Apply the animation */
  animation: slideIn 1s ease-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(0); /* End at its original position */
  }
}
.slide-in-div-from-right {
  animation: slideInFromRight 2s ease-out;
}

@keyframes appearFromLeft{
  from{
      opacity: 0;
      transform: translateX(-100%);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}
.block{
  animation: appearFromLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appearFromRight{
  from{
      opacity: 0;
      transform: translateX(100%);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}
.blockRight{
  animation: appearFromRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
  
  /*--------------------------------------------------------------
  # Global Footer
  --------------------------------------------------------------*/
  .footer {
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 14px;
    padding: 40px 0;
    position: relative;
  }
  
  .footer .copyright p {
    margin-bottom: 0;
  }
  
  .footer .social-links {
    margin-top: 20px;
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    margin: 0 5px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
  
  .footer .credits {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
  }
  
  /*--------------------------------------------------------------
  # Scroll Top Button
  --------------------------------------------------------------*/
  .scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background-color: var(--accent-color);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .scroll-top i {
    font-size: 24px;
    color: var(--contrast-color);
    line-height: 0;
  }
  
  .scroll-top:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
    color: var(--contrast-color);
  }
  
  .scroll-top.active {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
  }
  
  /*--------------------------------------------------------------
  # Global Sections
  --------------------------------------------------------------*/
  section,
  .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 100px;
    overflow: clip;
  }
  
  @media (max-width: 1199px) {
  
    section,
    .section {
      scroll-margin-top: 66px;
    }
  }
  
  /*--------------------------------------------------------------
  # Global Section Titles
  --------------------------------------------------------------*/
  .section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 32px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
  }
  
  .section-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .section-title p {
    margin-bottom: 0;
  }

  /* Light Mode (Default) */
  body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* Dark Mode */
  body.dark-mode {
    background-color: #121212 !important;
    color: #ffffff;
  }

/* Button styling */
header {
  padding: 1rem;
  text-align: center;
}

button {
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode button {
  background-color: #ffffff;
  color: #000000;
}

button:hover {
  opacity: 0.8;
}



  