@import url("../contact/contact.component.css");
@import url("../footer/footer.component.css");

/* Container for buttons */
.button-container {
  display: flex;
  gap: 15px; /* Space between buttons */
}

/* Common styles for all buttons */
.button {
  width: 50px;
  height: 50px;
  border: 2px solid #00B179;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Hover effect */
.button:hover {
  background-color: #00B179;
  border-color: transparent;
}

.button:hover i{
  color: #fff;
}

/* LinkedIn icon styles */
.button img {
  width: 20px;
  height: 20px;
  filter: invert(0); /* Set icon to black by default */
  transition: filter 0.3s;
}

/* Change icon to white on hover */
.button:hover img {
  filter: invert(1);
}

.txt{
  opacity: 0.7;
}

.txt2{
  font-size: 40px; 
  letter-spacing: 2px; 
  font-weight: 100; 
  color: #00B179;
}

.padd{
  margin: 0px;
}

.image{
  padding-bottom: 20px;
  padding-top: 100px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .txt{
    font-size: 13px;
  }

  .txt2{
    font-size: x-large;
  }

  .padd{
    padding: 0px;
    margin-bottom: 5px;
  }

  .image{
    padding-top: 0px;
  }
}