<div class="section-title mt-5" data-aos="fade-up">
  <h2 class="ibrand pt-5">Team</h2>
</div>

<main class="main">

  <!-- About Section -->
  <div id="about" class="about section inter pt-4 pb-0">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4 justify-content-center">
        <div class="col-lg-4">
          <img src="assets/img/team/linkedin.jpeg" class="img-fluid pb-3" alt="">
          <div class="button-container m-2 p-2 justify-content-center">
            <!-- LinkedIn button 1 -->
            <div class="button">
                <a href="https://www.linkedin.com/in/aishwaryaamuda" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
            </div>
            <!-- button 2 -->
            <div class="button">
                <a href="https://x.com/aishwarya_amuda" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
            </div>
            <!-- button 3 -->
            <div class="button">
                <a href="mailto:aishwarya@consentedu.org" target="_blank">
                  <i class="fa fa-envelope"></i>
                </a>
            </div>
        </div>
        </div>

        <div class="col-lg-8">
          <div >
            <h4 class="ibrand pt-5" style="color: #00B179;">Founder of consentEd</h4>
          </div>

          <div class="p-0 m-0" data-aos="fade-up">
            <h2 class="ibrand" style="font-size: 40px; letter-spacing: 2px; font-weight: 100; color: #00B179;">Aishwarya Amuda</h2>
            <h2 class="ibrand" style="font-size: 35px; letter-spacing: 2px; font-weight: 100; color: #00B179;">(She/her/hers)</h2>
          </div>

          <div class="pt-4">
            <p style="opacity: 0.7;">I graduated from Harvard Business School in May 2024, and I’ve since moved to San Francisco to focus full-time on building Consent Ed. Before my MBA, I worked as an investment banker specializing in EdTech and education, then moved into an operator role at Vedantu, a Series E EdTech startup. After that, I worked as an EdTech investor at GSV Ventures.</p>
          </div>

          <div>
            <p style="opacity: 0.7;">As a first-generation college graduate, I’ve experienced firsthand how education can be a powerful enabler of systemic change. Over the years, I’ve learned to combine education and technology to create impactful learning experiences at scale.</p>
          </div>

          <div>
            <p style="opacity: 0.7;">Growing up in India, and even after moving to the US, I’ve been deeply disturbed by the prevalence of sexual assault and the fear it instills in women around the world. When I learned that 6% of college-age men admit to committing acts that meet the legal definition of rape—and yet 88% don’t believe their actions qualify as rape—I realized there’s a critical gap in education that must be addressed. That’s why I founded Consent Ed: to provide effective, meaningful sex education that addresses this urgent need.</p>
          </div>

          <div>
            <p style="opacity: 0.7;">I received my Bachelor's in Technology from the Indian Institute of Technology, Bombay, in 2017—India’s leading technology institute.</p>
          </div>
        </div>
      </div>
      </div>
    
      <div style="justify-content: center;"  class="row mt-5 pt-3 mb-0">
        <div class="col-9">
          <img src="assets/img/team/Picture1.png" class="img-fluid" alt="">
        </div>
      </div>

    </div>
</main>