<main class="main">
  <!-- About Section -->
  <section id="about" class="about section inter">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4 justify-content-center">
        <div class="col-lg-4">
          <img src="assets/img/team/linkedin.jpeg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-8 mt-5 pt-5">
          <div class="section-title p-0 m-0" data-aos="fade-up">
            <h2 class="ibrand" style="font-size: xx-large; letter-spacing: 2px; font-weight: 100;">Aishwarya Amuda</h2>
          </div>

          <div class="button-container m-3 p-3 justify-content-center">
            <!-- LinkedIn button 1 -->
            <div class="button">
                <a href="https://www.linkedin.com/in/aishwaryaamuda" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
            </div>
            <!-- button 2 -->
            <div class="button">
                <a href="https://x.com/aishwarya_amuda" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
            </div>
            <!-- button 3 -->
            <div class="button">
                <a href="mailto:aishwarya@consentedu.org" target="_blank">
                  <i class="fa fa-envelope"></i>
                </a>
            </div>
        </div>

          <div style="justify-content: center;" class="mt-5 pt-5">
            <img src="assets/img/team/Picture1.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>

  </section>
</main>

<div class="content p-5 m-5 inter">

  <div>
    <!-- First Timeline Row -->
    <div class="row align-items-center how-it-works d-flex">
      <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold"><i class="fa fa-spinner" aria-hidden="true"></i></div>
      </div>
      <div class="col-8">
        <p style="opacity: 0.7;">I graduated from Harvard Business School in May 2024, and I’ve since moved to San Francisco to focus full-time on building Consent Ed. Before my MBA, I worked as an investment banker specializing in EdTech and education, then moved into an operator role at Vedantu, a Series E EdTech startup. After that, I worked as an EdTech investor at GSV Ventures.</p>
      </div>
    </div>

    <!-- First Timeline Line -->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr />
      </div>
      <div class="col-2">
        <div class="corner bottom-left"></div>
      </div>
    </div>

    <!-- Second Timeline Row -->
    <div class="row align-items-center how-it-works d-flex">
      <div class="col-2"></div>
      <div class="col-8" >
        <p style="opacity: 0.7;">As a first-generation college graduate, I’ve experienced firsthand how education can be a powerful enabler of systemic change. Over the years, I’ve learned to combine education and technology to create impactful learning experiences at scale.</p>
      </div>
      <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold"><i class="fa fa-spinner" aria-hidden="true"></i></div>
      </div>
    </div>

    <!-- Second Timeline Line -->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner right-bottom"></div>
      </div>
      <div class="col-8">
        <hr />
      </div>
      <div class="col-2">
        <div class="corner top-left"></div>
      </div>
    </div>

    <!-- Third Timeline Row -->
    <div class="row align-items-center how-it-works d-flex">
      <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold"><i class="fa fa-spinner" aria-hidden="true"></i></div>
      </div>
      <div class="col-8">
        <p style="opacity: 0.7;">Growing up in India, and even after moving to the US, I’ve been deeply disturbed by the prevalence of sexual assault and the fear it instills in women around the world. When I learned that 6% of college-age men admit to committing acts that meet the legal definition of rape—and yet 88% don’t believe their actions qualify as rape—I realized there’s a critical gap in education that must be addressed. That’s why I founded Consent Ed: to provide effective, meaningful sex education that addresses this urgent need.</p>
      </div>
    </div>

    <!-- First Timeline Line -->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr />
      </div>
      <div class="col-2">
        <div class="corner bottom-left"></div>
      </div>
    </div>

    <!-- Second Timeline Row -->
    <div class="row align-items-center how-it-works d-flex">
      <div class="col-2"></div>
      <div class="col-8">
        <p style="opacity: 0.7;">I received my Bachelor's in Technology from the Indian Institute of Technology, Bombay, in 2017—India’s leading technology institute.</p>
      </div>
      <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold"><i class="fa fa-spinner" aria-hidden="true"></i></div>
      </div>
    </div>

  </div>
</div>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader
<div id="preloader"></div> -->

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

<!-- Main JS File -->
<script src="assets/js/main.js"></script>