
/* Container for buttons */
.button-container {
  display: flex;
  gap: 15px; /* Space between buttons */
}

/* Common styles for all buttons */
.button {
  width: 50px;
  height: 50px;
  border: 2px solid #00B179;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Hover effect */
.button:hover {
  background-color: #00B179;
  border-color: transparent;
}

.button:hover i{
  color: #fff;
}

/* LinkedIn icon styles */
.button img {
  width: 20px;
  height: 20px;
  filter: invert(0); /* Set icon to black by default */
  transition: filter 0.3s;
}

/* Change icon to white on hover */
.button:hover img {
  filter: invert(1);
}

.txt{
  opacity: 0.7;
}

.txt2{
  font-size: 40px; 
  letter-spacing: 2px; 
  font-weight: 100; 
  color: #00B179;
}

.padd{
  margin: 0px;
}

.image{
  padding-bottom: 20px;
  padding-top: 100px;
}

.text{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
      typing 2s,
      cursor .4s step-end infinite alternate;
  animation-timeline: view();
  animation-range: entry 0% cover 80%;
}

.corner {
  width: 350px; 
  height: 350px; 
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.interTxt{
  color: #2D3142; 
    font-size: xx-larger !important; 
    letter-spacing: 1.5px !important;
    font-weight: 100 !important;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

@keyframes cursor{
  50% { border-color: transparent;}
}

@keyframes typing{
  from { width: 0 }
}

@keyframes appear{
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

.block{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .txt{
    font-size: 13px;
  }

  .txt2{
    font-size: x-large;
  }

  .padd{
    padding: 0px;
    margin-bottom: 5px;
  }

  .image{
    padding-top: 0px;
  }

  .corner{
    width: 350px;
    height: 350px;
  }

  .interTxt{
    font-size: 14px;
  }
}