<div class="section-title mt-5" data-aos="fade-up">
  <h2 class="ibrand pt-5">Team</h2>
  <h6 class="inter" style="opacity: 0.6;"> Meet the Founder</h6>
</div>

<main class="main">
  <!-- About Section -->
  <div id="about" class="about section inter">

    <div class="container" data-aos="fade-up">
      <div class="row gy-4 justify-content-center">
        <div class="col-lg-5 pt-2">
          <div class="corner">
            <img src="assets/img/team/Amuda_Aishwarya.jpg" class="img-fluid" alt="">
          </div>
          <div class="button-container pt-4 pe-5 justify-content-center">
            <!-- LinkedIn button 1 -->
            <div class="button">
                <a href="https://www.linkedin.com/in/aishwaryaamuda" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
            </div>
            <!-- button 2 -->
            <div class="button">
                <a href="https://x.com/aishwarya_amuda" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
            </div>
            <!-- button 3 -->
            <div class="button">
                <a href="mailto:aishwarya@socialxp.co" target="_blank">
                  <i class="fa fa-envelope"></i>
                </a>
            </div>
        </div>
        </div>

        <div class="col-lg-7">
          <div>
            <h4 class="ibrand padd" style="color: #00B179;">Founder & CEO</h4>
          </div>

          <div class="p-0 m-0" data-aos="fade-up">
            <h2 class="ibrand txt2">Aishwarya Amuda (She/her/hers)</h2>
          </div>

          <div class="pt-3">
            <p class="txt">Driven by a deep passion for education and social change, I founded <strong> Social XP </strong> to make learning essential social skills accessible and engaging. After graduating from <strong> Harvard Business School </strong> in May 2024, I committed full-time to building this platform, combining my experiences from <strong> Vedantu </strong>, a Series E EdTech startup, <strong> DC Advisory </strong> as an EdTech investment banker, and as an <strong> EdTech investor </strong> at <strong> GSV Ventures </strong>.
            </p>
          </div>

          <div>
            <p class="txt">As a <strong> first-generation college graduate </strong> from <strong> IIT Bombay (Bachelors in Engineering) </strong>, I’ve seen firsthand the power of education to create systemic change. My career has always revolved around blending technology with learning, and Social XP is a natural evolution of that mission—using gamification to address the critical gap in social-emotional learning.
            </p>
          </div>
        </div>
      </div>
      </div>
    
      <div style="justify-content: center;"  class="row mt-5 pt-3">
        <div class="col-9">
          <img src="assets/img/team/RoadmapLight.png" class="img-fluid block" alt="">
        </div>
      </div>

    </div>
</main>