.image{
    background-color: #EDF6F9;
    height: 360px;
}
.image2{
  padding: 30px;
  padding-left: 270px;
  height: 260px; 
  width: auto;
}
.hero-1{
    color: #2D3142; 
    padding-right: 50px; 
    padding-top: 20px;
    margin-top: 20px;
    opacity: 0.8;
    font-size: 45px !important; 
    letter-spacing: 1.2px !important;
    font-weight: 300 !important;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}
.hero-2{
    color: #2D3142; 
    font-size: xx-larger !important; 
    letter-spacing: 1.5px !important;
    font-weight: 100 !important;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    padding: 30px 150px 30px 150px; 
}
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #00B179;; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00B179;; }
}
.toggle{
    text-align: center;
    color: #00B179;
    background-color: #EDF6F9;
}
.bubble{
    /* text-align: center; */
    background-color: #EDF6F9;
}
.bubble p{
    font-size: larger;
}
.divPadd{
    padding: 30px;
    margin-top: 50px;
    padding-top: 50px;
}
.divPadd2{
    padding: 30px;
    padding-left: 0%;
    margin-bottom: -100px;
}
.txt{
    font-size: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .image{
        height: 230px;
    }
    .image2{
        height: 100px;
        padding: 0%;
        padding-left: 5px;
    }
    .hero-1{
        padding: 20px 20px 10px 25px;
        margin: 10px 10px 10px 25px;
        font-size: 40px !important;
    }
    .hero-2{
        padding: 0%;
        padding-left: 20px;
        padding-bottom: 25px;
    }
    .divPadd{
        padding: 0%;
        margin: 0%;
        padding-bottom: 30px;
    }
    .padd{
        padding: 20%;
    }
    .txt{
        font-size: 15px !important;
        padding: 0%;
        margin: 0%;
    }
}

