<div class="row">
  <div class="col-lg-4 slide-in-div ps-5 ms-5 pt-4 mt-4 pe-2 me-2 pb-3 mb-3" @slideInFromLeft>
    <img src="assets/img/home/XP Icon@2x.png" class="img-fluid image">
  </div>

  <div class="col-lg-7 bubble divPadd" @slideInFromRight>
    <p class="ibrand hero-1 pe-0">
      Level Up Your Social Game,
    </p>
    <p class="ibrand hero-1 text pt-0 pe-0 typewriter" style="color: #00B179;">
      One Fun Badge at a Time! 🎮✨               
    </p>
  </div>
  

  
  <!-- /Hero Section -->
  <div class="p-5 pl-0">
    <!-- <div class="col-lg-5 col-xs-12 p-4" style="padding-left: 40px; background-color: white;">       
      <img src="assets/img/home/bubbleConvo.png" class="img-fluid image2 block">
    </div> -->

    <div class="pt-5 pb-5 txt" style="background-color: white;">
      <p class="inter hero-2 blockRight" style="color: #2D3142; opacity: 0.8;"> <!-- added font-size style -->
        <b>Welcome to <strong style="color: #00B179;"> Social XP </strong> —the platform that turns social skill-building into a <strong style="color: #00B179;"> fun, low-stakes game. </strong> </b>
        <!-- <span style="color: #00B179;"> 
          <strong>—and they can change as you feel comfortable.</strong>          
        </span> -->
      </p>  
      
      <p class="inter hero-2 block" style="color: #2D3142; opacity: 0.8;"> <!-- added font-size style -->
       <b> Practice <strong style="color: #00B179;"> essential real-world skills,</strong> from communication to setting boundaries, through engaging scenarios. </b>
        <!-- <span style="color: #00B179;"> 
        <strong>—it’s a violation</strong>
        </span> -->
      </p> 
      
      <p class="inter hero-2 blockRight" style="color: #2D3142; opacity: 0.8;"> <!-- added font-size style -->
      <b> <strong style="color: #00B179;">Collect XP </strong> as you improve and showcase your achievements with digital badges that can be shared across platforms like LinkedIn, Instagram, or dating apps.</b>
        <!-- <span style="color: #00B179;"> 
        <strong>—just like respecting someone’s privacy online.</strong>
        </span> -->
      </p> 
      
      <img src="assets/img/home/imageHome.png" class="img-fluid image2 block">
  
    </div>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</div>
