  <app-header></app-header>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-lg-4">
        <img src="assets/img/home/image.png" class="img-fluid image">
      </div>
    
      <div class="col-lg-7 bubble divPadd">
        <p class="ibrand hero-1">
          Just like you control who sees your posts or sends you messages on social media, consent in real life operates similarly.....
        </p>
        <p class="ibrand hero-1" style="color: #00B179;">
          You decide who gets access, when, and how much.....                
        </p>
      </div>
    

    
    <!-- /Hero Section -->
    <div class="row p-5 pl-0" style="margin-bottom: -100px;">
      <div class="col-lg-5 col-xs-12 p-4" style="padding-left: 40px; background-color: white;">       
        <img src="assets/img/home/bubbleConvo.png" class="img-fluid image2">
      </div>
  
      <div class="col-lg-7 col-xs-12 p-5 txt" style="background-color: white;">
        <p class="ibrand hero-2" style="color: #2D3142; opacity: 0.8;"> <!-- added font-size style -->
          <b>At Consent Ed, we help you understand that, just like adjusting your online privacy settings, your personal boundaries are yours to control</b>
          <span style="color: #00B179;"> <!-- added font-size style -->
            <strong>—and they can change as you feel comfortable.</strong>          
          </span>
        </p>  
        
        <p class="ibrand hero-2" style="color: #2D3142; opacity: 0.8;"> <!-- added font-size style -->
          When someone disregards those boundaries, it's like bypassing your privacy settings without permission
          <span style="color: #00B179;"> <!-- added font-size style -->
          <strong>—it’s a violation</strong>
          </span>
        </p> 
        
        <p class="ibrand hero-2" style="color: #2D3142; opacity: 0.8;"> <!-- added font-size style -->
          Consent Ed teaches you to communicate your boundaries clearly and ensures others respect them
          <span style="color: #00B179;"> <!-- added font-size style -->
          <strong>—just like respecting someone’s privacy online.</strong>
          </span>
        </p> 
    
      </div>


  <app-about id="about"></app-about>

  <app-team id="team"></app-team>

  <!-- <app-blog id="blog"></app-blog> -->

  <app-contact id="contact"></app-contact>

  <app-footer></app-footer>
  
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
  <!-- Preloader -->
  <!-- <div id="preloader"></div> -->
</div>
  